<!DOCTYPE html>

<html>
  <head>
    <title>URL shortener</title>
  </head>
  <body>
    <a href="http://localhost:4567/<%= @page_id %>">
       http://localhost:4567/<%= @page_id %>
    </a>
  </body>
</html>
