<!DOCTYPE html>

<html>
  <head>
    <title>URL shortener</title>
  </head>
  <body>
    <form method="POST" action="/create">
      <input type="text" name="target_url">
      <input type="submit" value="Encurtar">
    </form>
  </body>
</html>
